/*
!CommonBuildParameters.cmake.example
!CommonBuildParameters.cmake	
!CompilationFlags.cmake.example
!CommonCompilerOptions.cmake
!Android/
!iOS/
!Linux/
!OSX/
!Windows/
!Android/CMakeLists.txt
!iOS/CMakeLists.txt
!iOS/iOS.cmake
!Linux/CMakeLists.txt
!OSX/CMakeLists.txt
!cmake/*
!.gitignore
!LICENSE
!README.MD
